@media screen and (max-width: 1024px) {
    .container2 {
        width: 974px;
        padding: 0px 0px;
        margin: 0px;
    }
    .main2 {
        padding: 15px 0px 0px 20px;
        position: relative;
        top: 70px;
        background-color: #F3F6FE;
        margin: 0px 0px 0px 208px;
        width: 1030px;
    }
}


/* @media screen and (max-width: 1920px) {
    .container3 {
        padding: 0px 0px;
        width: 1090px;
    }
    .main3 {
        padding: 15px 0px 0px 20px;
        position: relative;
        top: 70px;
        background-color: #F3F6FE;
        margin: 0px 0px 0px 201px;
      
    }
} */