<body>
    <nav class="navbar navbar1  navbar2 navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header navbar-header1 navbar-header2">
               <span class="usertype">{{logintype | uppercase}} &nbsp;|</span><button class="logout logout1" (click)="onLogout()">Logout<img class="img_icon1 img_icon2" src="assets/img/logout.png" alt=""></button>
            </div>
            <!-- <ul class="nav navbar-nav">
                <li><a routerLink="/dashbord/wood">Home</a></li>
              <li><a routerLink="/dashbord/chartpia">Page 1</a></li>
              <li><a routerLink="/dashbord/contact">Page 2</a></li>
              <li>
                  <a routerLink="/dashbord/chartcolumn"></a>
              </li>
            </ul> -->
        </div>
    </nav>
    <div class="sidenav sidenav1">
        <h4>SABHA TRADERS</h4>
        <button class="button1 button_1" routerLinkActive="active"  routerLink="/dashbord/dashboard-data" *ngIf="usertype == 'Admin'"><img class="img_icon" src="assets/img/home-run.png" alt=""><span>Dashboard</span></button>
        <button class="button2 button_2" routerLinkActive="active" routerLink="/dashbord/purchaselist" *ngIf="usertype == 'Admin'"><img class="img_icon" src="assets/img/product.png" alt=""><span>Purchase</span></button>
        <button class="button3 button_3" routerLinkActive="active"  routerLink="/dashbord/invoicelist" *ngIf="usertype == 'User' || usertype == 'Admin'"><img class="img_icon" src="assets/img/receipt.png" alt=""><span>Invoice</span></button>
        <button class="button4 button_4" routerLinkActive="active"  routerLink="/dashbord/paymentlist" *ngIf="usertype == 'User' ||usertype == 'Admin'"><img class="img_icon" src="assets/img/payment.png" alt=""><span>Payments</span></button>
        <button class="button5 button_5" routerLinkActive="active"   routerLink="/dashbord/download" *ngIf="usertype == 'Admin'"><img class="img_icon" src="assets/img/download.png" alt=""><span>Downloads</span></button>
        <button class="button6 button_6" routerLinkActive="active"  routerLink="/dashbord/customer" *ngIf="usertype == 'Admin'"><img class="img_icon" src="assets/img/audience.png" alt=""><span>Customers</span></button>
        <button class="button7 button_7" routerLinkActive="active"  routerLink="/dashbord/productlist" *ngIf="usertype == 'Admin'"><img class="img_icon" src="assets/img/box.png" alt=""><span>Products</span></button>
        <button class="button8 button_8" routerLinkActive="active"  routerLink="/dashbord/branchaslist" *ngIf="usertype == 'Admin'"><img class="img_icon" src="assets/img/pointer.png" alt=""><span>Branches</span></button>
        <button class="button9 button_9" routerLinkActive="active"  routerLink="/dashbord/userlist" *ngIf="usertype == 'Admin'"><img class="img_icon" src="assets/img/audience.png" alt=""><span>Users</span></button>
    </div>
    <div class="main main1 main2 main3 main4">
        <div class="container container1 container2 container3 container4">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>