<div class="main">
    <div class="Newinvoice Newinvoice_1 Newinvoice_2">
        <div class="container-fluid">
            <div class="row1">
                <div class="col-lg-12 col-sm-12">
                    <div class="purhead1 col-lg-5 col-sm-5">
                        <h3><img class="img_icon" src="assets/img/receipt1.png" alt="">New Invoice</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container1">
            <form [formGroup]="Newinvoice" class="form-horizontal">
                <div class="form_body">
                    <div class="contant">
                        <div class="col-sm-5">
                            <span class="pur_lbl">Customer Type</span><span class="imp">*</span><br>
                            <div class="pur_input">
                                <div class="rdbtn1 rdbtn1_1 col-sm-2">
                                    <label class="container">Sub Dealer
                                        <input type="radio" name="custid" (click)="checkbox($event.target.value)"
                                            value="Sub Dealer" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="rdbtn2 rdbtn2_1 col-sm-2">
                                    <label class="container">Customer of Sub Dealer
                                        <input type="radio" name="custid" (click)="checkbox($event.target.value)"
                                            value="Customer of Sub Dealer" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="rdbtn3 rdbtn3_1 col-sm-2">
                                    <label class="container">Walk in Customer
                                        <input type="radio" name="custid" (click)="checkbox($event.target.value)"
                                            value="Walk in Customer" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div>
                                <span class="pur_lbl">Invoice Number</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="invnumber" id="txtEmpName" maxlength="20" onkeypress="return omit_special_char(event)" type="text" class="form-control" required />
                                    <ng-container *ngIf="invoicenum.invalid && invoicenum.touched">
                                        <small *ngIf="invoicenum.errors?.required" class="text-danger">Please enter
                                            invoice number</small>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contant">
                        <div class="col-sm-6" >
                            <div *ngIf="usertype == 'User'">
                            <ng-container *ngIf="SEARCH=='search'">
                                <span class="pur_lbl">Customer Name</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="custid" (input)="search_custype($event.target.value)"
                                    id="customername" placeholder="Search & select the customer name" autocomplete="off" class="form-control" />
                                    <select class="select" style="position: absolute;z-index: 2000;display: none;    height: 60px;
                                    left: 15px;
                                    right: 13px;
                                    top: 55px;
                                    width: 300px;" id="selectcustomer" class="form-control" size="5" (change)="ChangeCUSTOMER($event.target.value)">
                                        <ng-container *ngFor="let list of cus_name; let i=index">
                                            <option value={{list?._id}}>{{list?.name}}-{{list?.mobnumber}}</option>
                                        </ng-container>
                                        
                                    </select>
                                    <ng-container *ngIf="custype.invalid && custype.touched">
                                        <small *ngIf="custype.errors?.required" class="text-danger">Please select
                                            customer name</small>
                                    </ng-container>
                                    <span *ngIf="case_error =='case_error'" class="text-danger">No Data</span>                                   
                                </div>
                            </ng-container>
                        </div>
                        <div class="bra col-sm-6" *ngIf="usertype == 'Admin'">
                            <ng-container  *ngIf="SEARCH=='search'">
                            <span class="pur_lbl">Branch Name</span><span class="imp">*</span><br>
                            <div class="pur_input">
                                <input formControlName="branchid" (input)="search_brenchtype($event.target.value)" 
                                id="branchname" placeholder="Search & select the branch name" autocomplete="off" class="form-control" />
                                <select style="position: absolute;z-index: 2000;display: none;    height: 60px;
                                left: 0px;
                                right: 13px;
                                top: 55px;
                                width: 298px;" id="selectbranch" class="form-control" size="5" (change)="Change_BRANCH($event.target.value)">
                                    <ng-container *ngFor="let list of branch_name; let i=index">
                                        <option value={{list?._id}}>{{list?.branchname}}</option>
                                    </ng-container>
                                </select>
                                <ng-container><small *ngIf="case_error1 =='case_error1'" class="text-danger">No Data</small></ng-container>
                                <div *ngIf="branch.invalid && branch.touched">
                                    <small *ngIf="branch.errors?.required" class="text-danger">Please select
                                        branch name</small>
                                </div>
                              </div>
                            </ng-container>
                            </div>
                        <div *ngIf="usertype == 'Admin'" class="bra col-sm-6">
                            <ng-container *ngIf="SEARCH=='search'">
                                <span class="pur_lbl">Customer Name</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="custid" (input)="search_custype($event.target.value)"
                                    id="customername" placeholder="Search & select the customer name" autocomplete="off" class="form-control" />
                                    <select class="select" style="position: absolute;z-index: 2000;display: none;    height: 60px;
                                    left: 0px;
                                    right: 13px;
                                    top: 55px;
                                    width: 300px;" id="selectcustomer" class="form-control" size="5" (change)="ChangeCUSTOMER($event.target.value)">
                                        <ng-container *ngFor="let list of cus_name; let i=index">
                                            <option value={{list?._id}}>{{list?.name}}-{{list?.mobnumber}}</option>
                                        </ng-container>
                                        
                                    </select>
                                    <ng-container *ngIf="custype.invalid && custype.touched">
                                        <small *ngIf="custype.errors?.required" class="text-danger">Please select
                                            customer name</small>
                                    </ng-container>
                                    <span *ngIf="case_error =='case_error'" class="text-danger">No Data</span>                                   
                                </div>
                            </ng-container>
                        </div>
                        
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <span class="pur_lbl">Date</span> <span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <!-- <input formControlName="date" id="Date" name="date" type="date" class="form-control" required /> -->
                                    <input type="text" formControlName="date" placeholder="DD-MM-YYYY" class="form-control" autocomplete="off" bsDatepicker [bsConfig]="{ adaptivePosition: true,dateInputFormat: 'DD-MM-YYYY' }" id="Date">
                                     
                                    <!-- <img class="img" src="/assets/img/Group 25.png"> -->
                                    <div *ngIf="date.invalid && date.touched">
                                        <small *ngIf="date.errors?.required" class="text-danger">Please enter
                                            date</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contant">
                            <div class="col-sm-6">
                                <span class="pur_lbl">Bill type</span><span class="imp">*</span><br>
                                <div class="pur_input">
                                    <div class="rdbtn1 rdbtn1_1 col-sm-2">
                                        <label class="container">Cash Bill
                                            <input type="radio" name="billrate" formControlName="billrate"
                                                value="Cash Bill" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="rdbtn4 rdbtn4_1 col-sm-2">
                                        <label class="container">GST Bill
                                            <input type="radio" name="billrate" formControlName="billrate"
                                                value="GST Bill" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div *ngIf="billtype.invalid && billtype.touched">
                                        <small *ngIf="billtype.errors?.required" class="text-danger">Please select bill
                                            type</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <span class="pur_lbl">GSTIN Number</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="gstin" type="text" minlength="15" maxlength="15" class="form-control" disabled required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <span class="pur_lbl">Address</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="address" type="text" class="form-control" disabled required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <span class="pur_lbl">Mobile Number 1</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="mobnumber1" disabled class="form-control" name="elementname" type="text" minlength="7" maxlength="13" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <span class="pur_lbl">Mobile Number 2</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="mobnumber2" disabled class="form-control" name="elementname" type="text" minlength="7" maxlength="13" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <span class="pur_lbl">Vehicle Number</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="vehnumber" id="txtEmpName" maxlength="13" onkeypress="return omit_special_char(event)" type="text" class="form-control" required />
                                    <div *ngIf="vehnum.invalid && vehnum.touched">
                                        <small *ngIf="vehnum.errors?.required" class="text-danger">Please enter vehicle number</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead class="th_head">
                                <tr>
                                    <th class="sel">#</th>
                                    <th class="invoice invoice_1">Product Name<span class="imp1">*</span></th>
                                    <th class="date">HSN Code<span class="imp1">*</span></th>
                                    <th class="product">No of bags<span class="imp1">*</span></th>
                                    <th class="vehicle">Discount</th>
                                    <th class="bags">Tons</th>
                                    <th class="ptons ptons_1">Per Bag Value</th>
                                    <th class="tons tons_1">Basic Bag Value</th>
                                    <th class="amount">Total</th>
                                </tr>
                            </thead>
                            <tbody class="tb_body">
                                <tr>
                                    <td class="sel1">1</td>
                                    <td class="invoice1 invoice1_1">
                                        <!-- <div class="pur_input">
                                            <select formControlName="prodname" type="text" name="options" (change)="products($event.target.value)" class="form-control" required>
                                                <option selected disabled>--Select--</option>
                                                <ng-container *ngFor="let prod of product_details; let index=index">
                                                    <option value={{index}}>{{prod.prodname}}</option>
                                                </ng-container>
                                            </select>
                                            <div *ngIf="prodescri.invalid && prodescri.touched">
                                                <small *ngIf="prodescri.errors?.required" class="text-danger">Please select product Name</small>
                                            </div>
                                        </div> -->
                                        <div class="pur_input" style="position: relative;">
                                            <input formControlName="prodname" (input)="search_prodtype($event.target.value)" 
                                            id="productid" placeholder="Search the product name" autocomplete="off" class="form-control" />
                                            <select style="position: absolute;
                                            z-index: 2000;
                                            height: 60px;
                                            left: 0px;
                                            right: 13px;
                                            top: 34px;
                                            width: 208px;
                                            display: none;
                                            " id="product_name" class="form-control" size="5" (change)="Changeprodname($event.target.value)">
                                                <ng-container *ngFor="let list of product_details; let i=index">
                                                    <option value={{list?._id}}>{{list?.prodname}}</option>
                                                </ng-container>
                                            </select>
                                            <ng-container><small *ngIf="case_error2 =='case_error3'" class="text-danger">No Data</small></ng-container>
                                            
                                            <ng-container *ngIf="prodescri.invalid && prodescri.touched">
                                                <small *ngIf="prodescri.errors?.required" class="text-danger">Please select
                                                    customer type</small>
                                            </ng-container>
                                          </div>
                                    </td>
                                    <td class="date1">
                                        <div class="pur_input">
                                            <input formControlName="hsncode" type="text" class="form-control" disabled required />
                                        </div>
                                    </td>
                                    <td class="product1">
                                        <div class="pur_input">
                                            <input formControlName="noofbags" type="text" maxlength="5" name="elementname" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 100) ? null : event.charCode >= 48 && event.charCode <= 57" (input)="input_event($event.target.value)" class="form-control" required />
                                            <div *ngIf="nfbags.invalid && nfbags.touched">
                                                <small *ngIf="nfbags.errors?.required" class="text-danger">Please enter No of bags</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="vehicle1">
                                        <div class="pur_input">
                                            <input formControlName="discount" type="text" value="0" maxlength="10" name="elementname" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 100) ? null : event.charCode >= 48 && event.charCode <= 57" (input)="discount_event($event.target.value)" class="form-control" required />
                                        </div>
                                    </td>
                                    <td class="bags1">
                                        <div class="pur_input">
                                            <input formControlName="tons" type="number" class="form-control" disabled required />
                                        </div>
                                    </td>

                                    <td class="ptons1 ptons1_1">
                                        <div class="pur_input">
                                            <input formControlName="perbagvalue" type="number" class="form-control" disabled required />
                                        </div>
                                    </td>
                                    <td class="tons1 tons1_1">
                                        <div class="pur_input">
                                            <input formControlName="totbagvalue" type="number" class="form-control" disabled required />
                                        </div>
                                    </td>
                                    <td class="amount1"><input currencyMask formControlName="total" class="form-control2 " type="text" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="main1">
                            <div class="col-sm-12">
                                <div class="total">
                                    <div class="table1">
                                        <tr>
                                            <td class="tot_lbl1">Sub Total</td>
                                            <td class="tot_lbl5"></td>
                                            <td class="tot_value1"><input currencyMask formControlName="subtotal" type="text" class="form-control3" disabled></td>
                                        </tr>
                                        <tr>
                                            <td class="tot_lbl2">Taxes</td>
                                            <td class="tot_lbl3">CGST 14%</td>
                                            <td class="tot_value"><input currencyMask formControlName="cgst" type="text" class="form-control3" disabled></td>
                                        </tr>
                                        <tr>
                                            <td class="tot_lbl"></td>
                                            <td class="tot_lbl4">SGST 14%</td>
                                            <td class="tot_value"><input currencyMask formControlName="sgst" type="text" class="form-control3" disabled></td>
                                        </tr>
                                        <tr>
                                            <td class="nettot">Net Total</td>
                                            <td class="tot_lbl6"></td>
                                            <td class="tot_value2"><input currencyMask formControlName="nettotal" type="text" class="form-control3" disabled></td>
                                        </tr>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <div class="mod-head1 mod-head1_1 mod-head1_2">
                                <h4>Payment information</h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="contant">
                            <div class="col-sm-12">
                                <span class="pur_lbl">Case type</span><span class="imp">*</span><br>
                                <div class="pur_input">
                                    <div class="rdbtn1 rdbtn1_1 col-sm-2">
                                        <label class="container">Cash
                                            <input type="radio" (click)="checkbox1($event.target.value)" name="type"
                                                formControlName="type" value="Cash" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="rdbtn4 rdbtn4_1 col-sm-2">
                                        <label class="container">Cheque
                                            <input type="radio" (click)="checkbox2($event.target.value)" name="type"
                                                formControlName="type" value="Cheque" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div *ngIf="amttype.invalid && amttype.touched">
                                        <small *ngIf="amttype.errors?.required" class="text-danger">Please select case
                                            type</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <div class="col-sm-6" *ngIf="modelbtn=='CASE1'">
                                <span class="pur_lbl">Cash Amount received</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="cashamount" (input)="input_case_amt($event.target.value)" id="txtEmpName" onkeypress="return AvoidSpace(event)" type="number" maxlength="15" class="form-control" required />
                                    <div *ngIf="cashamtrec.invalid && cashamtrec.touched">
                                        <small *ngIf="cashamtrec.errors?.required" class="text-danger">Please enter cash amount</small>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="contant" *ngIf="modelbtn=='Cheque'">
                            <div class="col-sm-6">
                                <span class="pur_lbl">Cheque Date</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <!-- <input formControlName="chequedate" id="chequeDate" type="date" class="form-control" required /> -->
                                    <input type="text" [minDate]="today" formControlName="chequedate" placeholder="DD-MM-YYYY" class="form-control" autocomplete="off" bsDatepicker [bsConfig]="{ adaptivePosition: true,dateInputFormat: 'DD-MM-YYYY' }" id="chequeDate">
                                                       
                                    <div *ngIf="chdate.invalid && chdate.touched">
                                        <small *ngIf="chdate.errors?.required" class="text-danger">Please enter cheque
                                            date</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <span class="pur_lbl">Bank Name</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="bankname" type="text" class="form-control" required />

                                    <div *ngIf="bankname.invalid && bankname.touched">
                                        <small *ngIf="bankname.errors?.required" class="text-danger">Please enter
                                            bankname</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contant" *ngIf="modelbtn=='Cheque'">
                            <div class="col-sm-6">
                                <span class="pur_lbl">Cheque Number</span> <span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="chequenumber" type="text" maxlength="6" name="elementname" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 100) ? null : event.charCode >= 48 && event.charCode <= 57" class="form-control" required />

                                    <div *ngIf="chnum.invalid && chnum.touched">
                                        <small *ngIf="chnum.errors?.required" class="text-danger">Please enter cheque
                                            number</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <span class="pur_lbl">Cheque Amount</span><span class="imp1">*</span><br>
                                <div class="pur_input">
                                    <input formControlName="chequeamount" (input)="input_cheque_amt($event.target.value)" id="txtEmpName" onkeypress="return AvoidSpace(event)" type="number" maxlength="15" class="form-control" required />

                                    <div *ngIf="chamt.invalid && chamt.touched">
                                        <small *ngIf="chamt.errors?.required" class="text-danger">Please enter cheque
                                            amount</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main1 col-sm-12">
                            <div class="conform">
                                <button class="conf_btn" (click)="Submit_Invoice()">Confirm</button>
                            </div>
                            <div class="cancel">
                                <button class="cenc_btn" (click)="Cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>