@media screen and (max-width: 768px) {
    .download_1 {
        width: 974px;
        border-radius: 2px;
        animation: slide 20s infinite;
    }
    .modal-dialog1_1 {
        margin: 175px 250px 175px 250px
    }
    .modal-content1_1 {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        height: 70%;
    }
    .down1_1 {
        background-color: #FFFFFF;
        padding: 60px 0px 60px 0px;
        margin: 0px 0px 0px 0px;
        /* text-align: center; */
        text-decoration: none;
        width: 27%;
    }
    .down2_1 {
        background-color: #FFFFFF;
        padding: 60px 0px 60px 0px;
        margin: 0px 110px 0px 110px;
        /* text-align: center; */
        text-decoration: none;
        width: 27%;
    }
    .down1_1 p {
        color: #000000;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 600;
        line-height: 70px;
    }
    .down2_1 p {
        color: #000000;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 600;
        line-height: 70px;
    }
    .img1_1 {
        display: inline-block;
        position: relative;
        right: 15px;
        float: left;
        bottom: 12px;
        font-size: 20px;
        margin-left: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .download_1 {
        width: 974px;
        border-radius: 2px;
        animation: slide 20s infinite;
    }
    .modal-dialog1_2 {
        margin: 0px 0px 0px 730px;
    }
    .modal-content1_2 {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        height: 90%;
    }
    .progress_2 {
        margin: 30px 90px 30px 75px;
        padding: 0;
    }
    .down1_2 {
        background-color: #FFFFFF;
        padding: 60px 0px 60px 0px;
        margin: 0px 0px 0px 0px;
        text-decoration: none;
    }
    .down2_2 {
        background-color: #FFFFFF;
        padding: 60px 0px 60px 0px;
        margin: 0px 70px 0px 70px;
        text-decoration: none;
        width: 27%;
    }
    .down1_2 p {
        color: #000000;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 600;
        line-height: 70px;
    }
    .down2_2 p {
        color: #000000;
        font-family: "Open Sans";
        font-size: 17px;
        font-weight: 600;
        line-height: 70px;
    }
    .img1_2 {
        display: inline-block;
        position: relative;
        right: 4px;
        float: left;
        bottom: 12px;
        font-size: 20px;
        margin-left: 16px;
    }
}

