@media screen and (max-width: 768px) {
    .invoiceList_1 {
        width: 974px;
        border-radius: 2px;
        background-color: #FFFFFF;
        animation: slide 20s infinite;
    }
    .purhead_1 {
        padding: 10px 0px 0px 15px;
        margin: 0px 0px 0px 0px;
    }
    .fas {
        color: #037AC0;
    }
    .col-lg-1 {
        width: 8.33333333%;
        padding: 0px;
    }
    th {
        white-space: nowrap;
    }
    .filter_btn_1 {
        height: 40px;
        width: 40px;
        border-radius: 3px;
        background-color: #037AC0;
        border: none;
        margin-top: 20px;
        margin-bottom: 10px;
        float: right;
        margin-right: 19px;
    }
    .search_in_1 {
        box-sizing: border-box;
        height: 40px;
        width: 170px;
        border: 0.7px solid #DFE5F9;
        border-radius: 3px;
        background-color: #FAFBFF;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 10px;
        float: right;
        word-break: break-all;
    }
    .search_icon {
        display: inline-block;
        position: relative;
        right: 15px;
        float: right;
        bottom: 40px;
        font-size: 20px;
    }
    .addnewpur_1 {
        height: 40px;
        width: 170px;
        border-radius: 3px;
        background-color: #F56C89;
        color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        margin-top: 20px;
        margin-bottom: 10px;
        border: none;
        float: right;
    }
    .add_det_btn_1 {
        padding: 0px 15px 0px 0px;
    }
    .main1 {
        padding: 0px;
    }
    .th_head {
        box-sizing: border-box;
        height: 80px;
        border: 0.7px solid #DFE5F9;
        background-color: #FAFBFF;
    }
    .invoice_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 13px;
        font-weight: 600;
        line-height: 22px;
        width: 14.666667%;
        padding: 7px 0px 7px 20px;
    }
    .date_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        width: 11.666667%;
        padding: 7px 0px 7px 0px;
    }
    .date_1 input {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        border: none;
        width: 15px;
    }
    .custype_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        width: 12.666667%;
        padding: 7px 0px 7px 0px;
    }
    .cusname_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        width: 13.666667%;
        padding: 7px 0px 6px 0px;
    }
    .product_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        width: 13.666667%;
        padding: 7px 0px 7px 0px;
    }
    .bags_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        width: 8.666667%;
        padding: 7px 0px 7px 0px;
    }
    .tons_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        width: 8.666667%;
        padding: 7px 0px 7px 0px;
    }
    .amount_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        width: 10.666667%;
        padding: 7px 0px 7px 0px;
    }
    .invoice1_1 {
        color: #1890FF;
        font-family: Roboto;
        font-size: 13px;      
        line-height: 22px;
        width: 14.666667%;
        padding: 10px 10px 10px 20px;
    }
    .date1_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;       
        line-height: 22px;
        width: 11.666667%;
        padding: 10px 10px 10px 0px;
    }
    .date1_1 input {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        border: none;
        width: 15px;
    }
    .custype1_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;       
        line-height: 22px;
        width: 12.666667%;
        padding: 10px 10px 10px 0px;
    }
    .cusname1_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;       
        line-height: 22px;
        width: 9.666667%;
        padding: 10px 10px 10px 0px;
    }
    .product1_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;       
        line-height: 22px;
        width: 13.666667%;
        padding: 10px 10px 10px 0px;
    }
    .bags1_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;        
        line-height: 22px;
        width: 8.666667%;
        padding: 10px 10px 10px 0px;
    }
    .tons1_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;        
        line-height: 22px;
        width: 8.666667%;
        padding: 10px 10px 10px 0px;
    }
    .amount1_1 {
        color: rgba(0, 0, 0, 0.85);
        font-family: Roboto;
        font-size: 14px;       
        line-height: 22px;
        width: 10.666667%;
        padding: 10px 10px 10px 0px;
    }
    .tooltiptext4 {
        /* visibility: visible; */
        width: 280px;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: -270%;
        left: 100%;
        margin-left: -60px;
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        border: 1px solid #E6E6E6;
        border-radius: 8px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        opacity: 1;
        padding: 15px 0px 15px 0px;
        
      }
}